@{
    ViewBag.Titme = "Index";
}

<div class="container">
    <div class="p-5 bg-light rounded-3 border border-secondary">
        <div class="container-fluid py-3">
            <h1 class="fw-bold">MyApp!!</h1>
            <p class="me-4 mt-4 mb-0 fs-4">
                해외취업 ASP.NET Core 웹개발 기본 강좌 
            </p>
            <p class="me-4 fs-4">
                공부용 Project
            </p>
        </div>
    </div>
</div>